.contact-us {
  width: 100%;
  box-shadow: 4px 4px 3px rgba(88, 87, 87, 0.2);
  @include flexbox;
  @include justify-content(space-between);
}

.left-side {
  background: $green-regular;
  padding: 4rem 3rem;
  width: 50%;
  @include flex-centered;
}

.contact-cards {
  @include flexbox;
  @include flex-direction(column);
  @include align-self(flex-start);
  @include align-items(stretch);
  width: 100%;

  @include breakpoint(viewport-9) {
    @include align-self(center);
  }
}

.contact-card {
  padding: 30px 5px;
  background: #899e8b;
  @include flexbox;
  @include justify-content(flex-start);

  &:not(:first-child) {
    border-top: $green-border-top;
  }

  &:not(:last-child) {
    border-bottom: $green-border-bottom;
  }

  .contact-card__icon {
    font-size: 2rem;
    color: lighten($primary-color, 10%);
    color: darken($font-color-2, 5%);
    margin-right: 2rem;
  }

  .contact-card__heading {
    font-size: 1.5rem;
    color: lighten($primary-color, 10%);
    color: darken($font-color-2, 5%);
  }
}
