.contact-form {
  width: 50%;
  @include breakpoint(viewport-7) {
    padding: 5rem 3rem;
    z-index: 100;
    border-radius: $base-border-radius;
    background: lighten(#899e8b, 20%);
    @include flexbox;
    @include flex-direction(column);
    @include flex-centered;
  }

  @include breakpoint(viewport-9) {
    width: 50%;
  }

  &__heading {
    color: lighten($font-color-1, 15%);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: left;
    text-transform: uppercase;
  }
}

#contact-form {
  width: 80%;

  //STYLING
  $form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
  $form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba($accent-color-1, 0.7);

  //FORM GROUP AS SPECIFIED IN HTML
  .flex-form-group {
    @include flexbox;
    @include flex-direction(column);
    margin-bottom: 10px;
    position: relative;
  }
  .help-inline {
    position: absolute;
    font-size: 1rem;
  }

  fieldset {
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
  }

  legend {
    font-weight: 600;
    margin-bottom: $small-spacing / 2;
    padding: 0;
    border: 0;
  }

  label {
    display: block;
    font-weight: 400;
    margin-bottom: $small-spacing / 2;
    text-align: left;
  }

  input,
  select,
  textarea {
    display: block;
    font-family: $primary-font-family;
    font-size: 16px;
    padding: 10px 10px;
    border-radius: 2%;
    //background: darken($secondary-color, 5%);
    //border: 1px solid darken($secondary-color, 10%);
    //background: lighten(#b9c2aa, 15%);
    //border: 1px solid darken(#b9c2aa, 15%);
    background: lighten(#899e8b, 10%);
    border: none;
    border: 1px solid lighten(#899e8b, 5%);
    //color: $secondary-color;
    opacity: 1;
  }

  textarea {
    overflow: auto;
  }
}
