$_button-background-color: $accent-color-1;
$_button-background-color-hover: shade($accent-color-1, 20%);

#{$all-buttons} {
  cursor: pointer;
  appearance: none;
  border: 0;
  border-radius: $base-border-radius;
  color: $font-color-1;
  display: inline-block;
  font-family: $primary-font-family;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: button;
  white-space: nowrap;
}
