// Colors
$black: #000000;
$brown-sugar: #a57548;
$charade: #23262f;
$light-gray: #ddd;
$mine-shaft: #303030;
$mine-shaft-border-bottom: #282828;
$mine-shaft-border-top: #383838;
$white: #fefefe;
$mute-green: #899e8b;

// Colors
$primary-color: $mine-shaft;
$secondary-color: $white;

// Colors
$color-1: $mine-shaft;
$color-2: $white;

// Font Colors
$font-color-1: $mine-shaft;
$font-color-2: $white;
$font-color-3: lighten($mine-shaft, 10%);

// Background colors
$bg-color-1: lighten(#899e8b, 45%);
$bg-color-2: lighten(#899e8b, 30%);

//accent-colors
$accent-color-1: $mute-green;
$accent-color-2: $brown-sugar;

//Green palette
$green-light: lighten(#899e8b, 20%);
$green-medium: lighten(#899e8b, 10%);
$green-regular: lighten(#899e8b, 0%);
$green-border-light: lighten(#899e8b, 17%);
$green-border-md: lighten(#899e8b, 5%);
$green-border-top: 2px solid lighten(#899e8b, 5%);
$green-border-bottom: 1px solid darken(#899e8b, 10%);

// Typography
$primary-font-family: 'Roboto', 'sans-serif';
$secondary-font-family: 'Open Sans', 'sans-serif';

// Line height
$primary-line-height: 1.6;
$secondary-line-height: 1.2;

// Other Sizes
$base-border-radius: 2px;

$xl-spacing: 7.2rem;
$large-spacing: 6.4rem;
$medium-spacing: 3.2rem;
$base-spacing: 1.6rem;
$small-spacing: $base-spacing / 2;
$xs-spacing: $base-spacing / 4;

//Font-styling
$text-shadow: 0 1px 2px rgba(225, 225, 225, 0.5);
$text-opacity: 0.9;

// Border
$primary-border-color: darken($secondary-color, 20%);

// Box shadow
$base-box-shadow: 2px 2px 3px rgba(225, 225, 225, 0.1);

// Focus
$focus-outline-color: transparentize($accent-color-1, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
