{% extends "base.html" %} {% block body %}
<!-- Showcase start -->
<div id="showcase">
  <div class="showcase__bg-image | bg-image">
    <div class="showcase__frame">
      <div class="showcase__title">
        <h5 class="showcase__pre-title-text">Welcome to</h5>
        <h1 class="showcase__title-text">Green Clean Homes</h1>
        <p class="showcase__text-separator"></p>
        <p class="showcase__post-title-text">Eco-Friendly Cleaning</p>
      </div>
    </div>
  </div>
</div>
<!-- Showcase end -->

<!-- Section - Our Mission  -->
<div id="section-a" class="section">
  <div class="section__title">
    <h2 class="section__title-text">Our mission</h2>
    <p class="section__title-line"></p>
  </div>
  <div class="content">
    <div class="text-box">
      <p class="text-box__text">
        At Green Home and Office, eco-friendly practices aren't just a fad, they are how we've done
        business from the start. We operate in an environmentally responsible way and use cleaning
        methods that are safe for our clients, safe for their families and safe for pets and the
        planet.
      </p>
      <p class="text-box__text">
        We help you take the pressure off and leave you to do more of the things you love. We'd be
        honored to have your business and do our parts together.
      </p>
    </div>
  </div>
</div>

<!-- About Us section -->
<div id="section-b" class="section">
  <div class="section__title">
    <h2 class="section__title-text">About Us</h2>
    <p class="section__title-line"></p>
  </div>
  <div class="content">
    <ul class="cards">
      <li class="card">
        <div class="card__icon-group">
          <span class="card__icon">
            <i class="fas fa-users"></i>
          </span>
        </div>
        <div class="card__text">
          <h3 class="card__heading">Three and four person teams</h3>
          <p class="card__paragraph">Licensed, insured and bonded for ease of mind.</p>
        </div>
      </li>
      <li class="card">
        <div class="card__icon-group">
          <span class="card__icon">
            <i class="fas fa-map-marker"></i>
          </span>
        </div>
        <div class="card__text">
          <h3 class="card__heading">Service area includes VA, MD, DC</h3>
          <p class="card__paragraph">
            See <a href="" class="accent-2">list</a> of cities we serve.
          </p>
        </div>
      </li>
      <li class="card">
        <div class="card__icon-group">
          <span class="card__icon">
            <i class="fas fa-brush"></i>
          </span>
        </div>
        <div class="card__text">
          <h3 class="card__heading">Home and office cleaning services</h3>
          <p class="card__paragraph">
            Standard or customized options to choose from. Check out our routine cleaning.
          </p>
        </div>
      </li>

      <li class="card">
        <div class="card__icon-group">
          <span class="card__icon">
            <i class="fas fa-credit-card"></i>
          </span>
        </div>
        <div class="card__text">
          <h3 class="card__heading">Ease of payment</h3>
          <p class="card__paragraph">
            Major credit cards, checks and cash accepted at time of service for ease of payment.
          </p>
        </div>
      </li>
    </ul>
    <!-- Button -->
    <a href="">
      <button id="btn-about-us" type="button" class="btn">
        Read More
      </button>
    </a>
  </div>
</div>
<div id="section-d" class="section">
  <div class="section__title">
    <h2 class="section__title-text">Contact Us</h2>
    <p class="section__title-line"></p>
  </div>
  <div class="content">
    <div class="contact-us">
      <div class="left-side">
        <ul class="contact-cards">
          <li class="contact-card">
            <span class="contact-card__icon">
              <i class="fas fa-phone"></i>
            </span>
            <div class="contact-card__text">
              <h3 class="contact-card__heading">{{ phone}}</h3>
            </div>
          </li>
          <li class="contact-card">
            <span class="contact-card__icon">
              <i class="fas fa-envelope"></i>
            </span>
            <div class="contact-card__text">
              <h3 class="contact-card__heading">{{ email}}</h3>
            </div>
          </li>
          <li class="contact-card">
            <span class="contact-card__icon">
              <i class="fas fa-map-marker-alt"></i>
            </span>
            <div class="contact-card__text">
              <h3 class="contact-card__heading">300 Montgomery Avenue, 102B,</h3>
              <h3 class="contact-card__heading">Bethesda, Maryland 20814</h3>
            </div>
          </li>
        </ul>
      </div>

      <!-- <ul class="cards">
      <li class="card">
        <div class="card__icon-group">
          <span class="card__icon">
            <i class="fas fa-phone"></i>
          </span>
        </div>
        <div class="card__text">
          <h3 class="card__heading">{{ phone}}</h3>
        </div>
      </li>
      <li class="card">
        <div class="card__icon-group">
          <span class="card__icon">
            <i class="fas fa-envelope"></i>
          </span>
        </div>
        <div class="card__text">
          <h3 class="card__heading">{{ email }}</h3>
        </div>
      </li>
      <li class="card">
        <div class="card__icon-group">
          <span class="card__icon">
            <i class="fas fa-map-marker-alt"></i>
          </span>
        </div>
        <div class="card__text">

        </div>
      </li>
    </ul> -->
      <!-- Contact form -->
      <div class="contact-form">
        <h3 class="contact-form__heading">Leave us a message</h3>
        <form
          id="contact-form"
          action="/submit_form/"
          class=""
          method="POST"
          enctype="multipart/form-data"
          data-url=""
        >
          {% csrf_token %} {% for field in form %} {% if field.errors %}
          <div class="flex-form-group">
            {{ field }}
            <span class="focus-border">
              <i></i>
            </span>
            <p class="help-inline">
              {% for error in field.errors %} {{ error }} {% endfor %}
            </p>
          </div>
          {% else %}
          <div class="flex-form-group">
            {{ field }}
            <span class="focus-border">
              <i></i>
            </span>
          </div>
          {% endif %} {% endfor %}
          <button id="" type="submit" value="submit" class="btn btn-block button-send">
            <span class="button-text">Send</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
