{% extends "base.html" %} {% block body %}
<!-- Showcase start -->
<div id="showcase">
  {% include "home/includes/showcase.html" %}
</div>

<!-- Section - Our Mission  -->
<div id="section-a" class="section">
  {% include "home/includes/our-mission.html" %}
</div>

<!-- About Us section -->
<div id="section-b" class="section">
  {% include "home/includes/about-us.html" %}
</div>

<!-- Start of section-e -->
<div id="section-d" class="section">
  {% include "home/includes/price-calc.html" %}
</div>

<!-- Section e -->
<div id="section-e" class="section">
  {% include "home/includes/contact-us.html" %}
</div>

{% endblock %}
