/* The CSS transform property lets you modify the coordinate space of the CSS visual formatting model. Using it, elements can be translated, rotated, scaled, and skewed according to the values set

The transform-origin CSS property lets you modify the origin for transformations of an element.

The transform-style CSS property determines if the children of the element are positioned in the 3D-space or are flattened in the plane of the element.

@include transform(translateY(50px));
@include transform(scale(0.9) rotate(-3deg));
@include transform-origin(center top);
@include transform-style(preserve-3d);

*/
button, [type=button], [type=reset], [type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: 2px;
  color: #303030;
  display: inline-block;
  font-family: "Roboto", "sans-serif";
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1;
  margin: 0;
  overflow: visible;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  -webkit-appearance: button;
  white-space: nowrap;
}

.effect-9 ~ .focus-border:before,
.effect-9 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: #899e8b;
  transition: 0.2s;
  transition-delay: 0.2s;
}

.effect-9 ~ .focus-border:after {
  top: auto;
  bottom: 0;
  right: auto;
  left: 0;
  transition-delay: 0.6s;
}

.effect-9 ~ .focus-border i:before,
.effect-9 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: #899e8b;
  transition: 0.2s;
}

.effect-9 ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  transition-delay: 0.4s;
}

.effect-9:focus ~ .focus-border:before,
.effect-9:focus ~ .focus-border:after {
  width: 100%;
  transition: 0.2s;
  transition-delay: 0.6s;
}

.effect-9:focus ~ .focus-border:after {
  transition-delay: 0.2s;
}

.effect-9:focus ~ .focus-border i:before,
.effect-9:focus ~ .focus-border i:after {
  height: 100%;
  transition: 0.2s;
}

.effect-9:focus ~ .focus-border i:after {
  transition-delay: 0.4s;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style-type: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

p {
  color: #303030;
  font-family: "Roboto", "sans-serif";
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", "sans-serif";
  line-height: 1.2;
  text-transform: uppercase;
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: color 150ms ease;
}
a:hover {
  outline: 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

.bg-image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover !important;
}

.btn {
  border: 2px solid #a57548;
  background: #a57548;
  color: #fefefe;
}

.btn-block {
  width: 100%;
}

.button-send {
  background: #f1f1f1;
  border: 1px solid #d8d8d8;
  color: #4a4a4a;
  font-weight: 500;
}
.button-send:hover {
  background-color: #fefefe;
}

.cards {
  width: 100%;
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  align-content: center;
  -moz-align-items: stretch;
  align-items: stretch;
  margin-bottom: 3rem;
}
@media only screen and (min-width: 768px) {
  .cards {
    flex-wrap: wrap;
    -moz-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: space-between;
    justify-content: space-between;
    -moz-align-items: stretch;
    align-items: stretch;
  }
}

.card {
  background: #c1ccc2;
  border: 1px solid #b9c5ba;
  margin: 0.5rem 0;
  box-shadow: 2px 2px 3px rgba(88, 87, 87, 0.2);
  display: -moz-flex;
  display: flex;
}
@media only screen and (min-width: 768px) {
  .card {
    min-width: 0;
    flex-basis: 49%;
  }
}
@media only screen and (min-width: 992px) {
  .card {
    flex-basis: 49%;
  }
}
.card .card__icon-group {
  display: -moz-flex;
  display: flex;
  display: -moz-flex;
  display: flex;
  -moz-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
  padding: 15px 20px;
  background: #899e8b;
}
.card .card__icon {
  border-radius: 50%;
  border: 1px solid #fefefe;
  display: -moz-flex;
  display: flex;
  -moz-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
  width: 4.2rem;
  height: 4.2rem;
}
.card .card__icon i {
  font-size: 2rem;
  color: #fefefe;
}
.card .card__text {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  padding: 15px 20px;
}
.card .card__heading {
  font-size: 1.3rem;
  color: #4a4a4a;
}
@media only screen and (min-width: 992px) {
  .card .card__heading {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .card .card__heading {
    font-size: 1.6rem;
  }
}
@media only screen and (min-width: 1400px) {
  .card .card__heading {
    font-size: 1.8rem;
  }
}
.card .card__paragraph {
  font-size: 1.3rem;
  color: #303030;
  margin-top: 0.8rem;
  font-weight: 400;
}
@media only screen and (min-width: 992px) {
  .card .card__paragraph {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1200px) {
  .card .card__paragraph {
    font-size: 1.6rem;
  }
}
.card .card__paragraph a {
  color: #a57548;
  font-weight: 600;
}

.contact-us {
  width: 100%;
  box-shadow: 4px 4px 3px rgba(88, 87, 87, 0.2);
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .contact-us {
    -moz-flex-direction: row;
    flex-direction: row;
  }
}
.contact-us__info {
  background: #899e8b;
  padding: 1.6rem 3.2rem;
  display: -moz-flex;
  display: flex;
  -moz-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
@media only screen and (min-width: 768px) {
  .contact-us__info {
    width: 50%;
    padding: 0 3.2rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-us__info {
    padding: 0 6.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-us__info {
    padding: 0 7.2rem;
  }
}
.contact-us__details {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.contact-us__detail {
  padding: 1.6rem 0.4rem;
  background: #899e8b;
  display: -moz-flex;
  display: flex;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
}
@media only screen and (min-width: 768px) {
  .contact-us__detail {
    padding: 3.2rem 0.4rem;
  }
}
.contact-us__detail:not(:first-child) {
  border-top: 2px solid #97aa99;
}
.contact-us__detail:not(:last-child) {
  border-bottom: 1px solid #6e8670;
}
.contact-us__detail .icon {
  font-size: 2rem;
  color: #f1f1f1;
  margin-right: 1.6rem;
}
.contact-us__detail .heading {
  font-size: 1.3rem;
  color: #f1f1f1;
}
@media only screen and (min-width: 768px) {
  .contact-us__detail .heading {
    font-size: 1.5rem;
  }
}
.contact-us__form {
  background: #c1ccc2;
  width: 100%;
  padding: 3.2rem 1.6rem;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  display: -moz-flex;
  display: flex;
  -moz-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
  -moz-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .contact-us__form {
    width: 50%;
    padding: 6.4rem 3.2rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
  }
}
@media only screen and (min-width: 1200px) {
  .contact-us__form {
    padding: 6.4rem;
  }
}
@media only screen and (min-width: 1400px) {
  .contact-us__form {
    padding: 6.4rem 7.2rem;
  }
}
.contact-us__form .form__heading {
  color: #4a4a4a;
  margin-bottom: 1.6rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 1200px) {
  .contact-us__form .form__heading {
    margin-bottom: 1.6rem;
  }
}
.contact-us #contact-form {
  width: 100%;
}
.contact-us #contact-form .flex-form-group {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  margin-bottom: 0.8rem;
  position: relative;
}
@media only screen and (min-width: 1200px) {
  .contact-us #contact-form .flex-form-group {
    margin-bottom: 1.6rem;
  }
}
.contact-us #contact-form .help-inline {
  position: absolute;
  font-size: 1rem;
}
.contact-us #contact-form input,
.contact-us #contact-form textarea {
  display: block;
  font-family: "Roboto", "sans-serif";
  font-size: 1.6rem;
  padding: 1.2rem;
  border-radius: 2%;
  background: #a5b5a7;
  border: 1px solid #97aa99;
}
.contact-us #contact-form textarea {
  overflow: auto;
}

#footer {
  background: #303030;
  padding-bottom: 2rem;
}
@media only screen and (min-width: 768px) {
  #footer {
    padding-bottom: 3%;
  }
}
@media only screen and (min-width: 768px) {
  #footer {
    padding-bottom: 2%;
  }
}
#footer .footer__top {
  border-bottom: 1px solid #282828;
  padding-bottom: 3.2rem;
  width: 100%;
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  #footer .footer__top {
    -moz-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
#footer .footer-title {
  margin-bottom: 3.2rem;
}
#footer .footer-title__title {
  color: #fefefe;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}
@media only screen and (min-width: 768px) {
  #footer .footer-title__title {
    font-size: 2.2rem;
    letter-spacing: 0.2rem;
  }
}
@media only screen and (min-width: 992px) {
  #footer .footer-title__title {
    font-size: 2.6rem;
  }
}
@media only screen and (min-width: 1200px) {
  #footer .footer-title__title {
    font-size: 3rem;
  }
}
#footer .footer-title__subtitle {
  color: #a57548;
  font-family: "Open Sans", "sans-serif";
  margin: 0.4rem 0;
  font-weight: 500;
  font-size: 1.7rem;
}
@media only screen and (min-width: 992px) {
  #footer .footer-title__subtitle {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1200px) {
  #footer .footer-title__subtitle {
    font-size: 2.2rem;
  }
}
#footer .footer-title__line {
  background: #a57548;
  height: 0.3rem;
  text-align: left;
  width: 5rem;
}
#footer .footer__links__link {
  margin-bottom: 0.8rem;
}
#footer .footer__links__link a {
  font-family: "Open Sans", "sans-serif";
  color: #fefefe;
  font-size: 1.8rem;
  font-weight: 300;
  opacity: 0.7;
  text-transform: uppercase;
}
#footer .footer__links__link a:hover {
  opacity: 1;
}
#footer .footer-bottom {
  border-top: 2px solid #383838;
  padding-top: 3rem;
  width: 100%;
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 768px) {
  #footer .footer-bottom {
    -moz-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}
#footer .footer-bottom .terms-conditions {
  margin-bottom: 1rem;
  text-align: left;
  color: #fefefe;
  font-size: 1.2rem;
  opacity: 0.8;
}
#footer .footer-bottom .designed-by {
  color: #fefefe;
  font-family: "Open Sans", "sans-serif";
  font-weight: 600;
  font-size: 1.2rem;
}
#footer .footer-bottom .dev {
  color: #a57548;
  font-weight: 600;
}

.navbar {
  display: none;
}
@media only screen and (min-width: 768px) {
  .navbar {
    position: absolute;
    top: 0;
    height: 10rem;
    width: 100%;
    z-index: 5000;
    display: -moz-flex;
    display: flex;
  }
}
.navbar__links {
  width: 100%;
  display: -moz-flex;
  display: flex;
  -moz-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
}
.navbar__link {
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-family: "Open Sans", "sans-serif";
}
@media only screen and (min-width: 992px) {
  .navbar__link {
    font-size: 1.8rem;
    margin: 0 1rem;
  }
}
@media only screen and (min-width: 1400px) {
  .navbar__link {
    font-size: 2rem;
    margin: 0 1.5rem;
  }
}
.navbar a {
  opacity: 0.8;
  color: #fefefe;
}
.navbar a.active {
  padding-bottom: 0.5rem;
  border-bottom: 0.3rem solid #a57548;
  opacity: 1;
}
.navbar a:hover {
  opacity: 1;
}

.toggle-nav {
  font-size: 1.5rem;
  z-index: 6000;
  top: 2.5rem;
  right: 2.5rem;
  position: absolute;
  color: #fefefe;
}
@media only screen and (min-width: 414px) {
  .toggle-nav {
    font-size: 1.7rem;
  }
}
@media only screen and (min-width: 768px) {
  .toggle-nav {
    display: none;
  }
}

.navbar-mobile {
  background: url("../../images/menu_mobile_background.jpg");
  display: none;
  position: fixed;
  color: #fefefe;
  z-index: 5000;
  height: 100vh;
}
.navbar-mobile__header {
  display: block;
  text-align: center;
  margin: 10rem 2.5rem 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar-mobile__title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #fefefe;
}
.navbar-mobile__subtitle {
  color: #a57548;
  font-size: 1.5rem;
  font-weight: 400;
}
.navbar-mobile__links {
  display: block;
  text-align: left;
  margin-left: 10%;
}
.navbar-mobile__link {
  padding: 0rem 0rem 2rem 2 rem;
  font-size: 2rem;
  margin-bottom: 3rem;
  opacity: 0.9;
  color: #fefefe;
}
.navbar-mobile__link-tag {
  display: -moz-flex;
  display: flex;
  -moz-align-items: center;
  align-items: center;
  color: #fefefe;
  font-size: 2rem;
  font-weight: 500;
  font-family: "Open Sans", "sans-serif";
}
.navbar-mobile__link-icon {
  margin-right: 1.6rem;
  display: -moz-flex;
  display: flex;
  -moz-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
}
.navbar-mobile__link-icon i {
  font-size: 2rem;
  color: #fefefe;
}

.price-calc {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  width: 100%;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1);
}
@media only screen and (min-width: 768px) {
  .price-calc {
    -moz-flex-direction: row;
    flex-direction: row;
  }
}
.price-calc .select-wrapper {
  position: relative;
  background-color: #a5b5a7;
  overflow: hidden;
  width: 100%;
  height: 6.5rem;
  border-bottom: 1px solid #8c8c8c;
  padding-left: 1.5rem;
}
@media only screen and (min-width: 768px) {
  .price-calc .select-wrapper {
    border-right: 1px solid #8c8c8c;
    border-bottom: none;
    width: 25%;
  }
}
@media only screen and (min-width: 992px) {
  .price-calc .select-wrapper {
    padding-left: 2rem;
  }
}
.price-calc .select-wrapper .absolute {
  position: absolute;
  color: #fefefe;
  top: 1.8rem;
  right: 1.5rem;
  position: absolute;
}
.price-calc .select-wrapper .absolute i {
  color: #636363;
  font-size: 3rem;
  -webkit-text-stroke: 2px #a5b5a7;
}
.price-calc .select-wrapper select {
  font-family: "Roboto", "sans-serif";
  font-weight: 500;
  font-size: 1.7rem;
  color: #4a4a4a;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
}
.price-calc .select-wrapper option {
  color: #4a4a4a;
}
.price-calc .price-box {
  background-color: #f9f9f9;
  width: 100%;
  height: 6.5rem;
  display: -moz-flex;
  display: flex;
  -moz-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .price-calc .price-box {
    width: 25%;
  }
}
.price-calc .price-box p {
  color: #4a4a4a;
  font-family: "Roboto", "sans-serif";
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.section {
  padding: 10% 5%;
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  align-items: center;
}
@media only screen and (min-width: 992px) {
  .section {
    padding: 7% 7%;
  }
}
@media only screen and (min-width: 1200px) {
  .section {
    padding: 5% 7%;
  }
}
@media only screen and (min-width: 1400px) {
  .section {
    padding: 5% 7%;
  }
}
.section__title {
  margin-bottom: 3.2rem;
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  align-items: center;
}
.section__title-text {
  font-size: 3rem;
  color: #4a4a4a;
}
@media only screen and (min-width: 768px) {
  .section__title-text {
    font-size: 4rem;
  }
}
.section__title-line {
  height: 3px;
  width: 50px;
  background: #a57548;
}

.content {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  align-items: center;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .content {
    max-width: 95rem;
  }
}
@media only screen and (min-width: 1200px) {
  .content {
    max-width: 100rem;
  }
}
@media only screen and (min-width: 1400px) {
  .content {
    max-width: 120rem;
  }
}

.text-box {
  display: -moz-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .text-box {
    -moz-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: space-between;
    justify-content: space-between;
  }
}

.text-box__text {
  font-weight: 300;
  margin-bottom: 1.6rem;
  font-size: 1.7rem;
}
@media only screen and (min-width: 768px) {
  .text-box__text {
    font-size: 1.9rem;
    flex-basis: 45%;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 1200px) {
  .text-box__text {
    font-size: 2rem;
  }
}

#showcase {
  height: 100vh;
}
#showcase .showcase__bg-image {
  background: url("../../images/mobile/livingroom_mobile.jpg");
}
@media only screen and (min-width: 768px) {
  #showcase .showcase__bg-image {
    background: url("../../images/viewport-7/livingroom.jpg");
  }
}
@media only screen and (min-width: 992px) {
  #showcase .showcase__bg-image {
    background: url("../../images/viewport-9/livingroom-viewport-9.jpg");
  }
}
@media only screen and (min-width: 1200px) {
  #showcase .showcase__bg-image {
    background: url("../../images/viewport-12/livingroom-viewport-12.jpg");
  }
}
#showcase .showcase__frame {
  width: calc(100% - 5rem);
  height: calc(100% - 15rem);
  margin: 8.5rem auto 6.5rem auto;
  border: 0.3rem solid #b2b2b2;
  padding: 3rem 5rem;
}
@media only screen and (min-width: 414px) {
  #showcase .showcase__frame {
    width: calc(100% - 20%);
    padding: 4rem 6rem;
  }
}
@media only screen and (min-width: 768px) {
  #showcase .showcase__frame {
    width: 100%;
    border: none;
    text-align: center;
    display: -moz-flex;
    display: flex;
    -moz-justify-content: center;
    justify-content: center;
    -moz-align-items: center;
    align-items: center;
    -moz-flex-direction: column;
    flex-direction: column;
  }
}
#showcase .showcase__pre-title-text {
  color: #b2b2b2;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  font-weight: 300;
}
@media only screen and (min-width: 414px) {
  #showcase .showcase__pre-title-text {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 480px) {
  #showcase .showcase__pre-title-text {
    display: none;
  }
}
#showcase .showcase__title-text {
  color: #fefefe;
  width: 7.5rem;
  font-size: 3rem;
  line-height: 4rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
}
@media only screen and (min-width: 414px) {
  #showcase .showcase__title-text {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media only screen and (min-width: 768px) {
  #showcase .showcase__title-text {
    font-size: 4.5rem;
    line-height: 1.6;
    width: 100%;
    opacity: 0.8;
  }
}
#showcase .showcase__text-separator {
  height: 0.3rem;
  width: 10rem;
  text-align: center;
  background: #899e8b;
  opacity: 0.8;
  display: none;
}
@media only screen and (min-width: 768px) {
  #showcase .showcase__text-separator {
    display: inline-block;
    margin: 1rem;
    margin-top: 1rem;
  }
}
#showcase .showcase__post-title-text {
  width: 12rem;
  font-size: 1.8rem;
  color: #a57548;
}
@media only screen and (min-width: 414px) {
  #showcase .showcase__post-title-text {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  #showcase .showcase__post-title-text {
    width: 100%;
    font-size: 2.8rem;
  }
}

#section-a {
  background-color: white;
}

#section-b {
  background-color: #dde3de;
}

#section-d {
  background-color: white;
}

#section-e {
  background-color: #dde3de;
}

.fixed {
  position: fixed;
}

.white {
  color: #fefefe !important;
}

.overflow {
  overflow: hidden;
}