@mixin breakpoint($point) {
  $viewport-4: '(min-width: 480px)';
  $viewport-7: '(min-width: 768px)';
  $viewport-9: '(min-width: 992px)';
  $viewport-12: '(min-width: 1200px)';
  $viewport-14: '(min-width: 1400px)';

  @if $point == viewport-14 {
    @media only screen and #{$viewport-14} {
      @content;
    }
  }
  @if $point == viewport-12 {
    @media only screen and #{$viewport-12} {
      @content;
    }
  } @else if $point == viewport-9 {
    @media only screen and #{$viewport-9} {
      @content;
    }
  } @else if $point == viewport-7 {
    @media only screen and #{$viewport-7} {
      @content;
    }
  } @else if $point == viewport-4 {
    @media only screen and #{$viewport-4} {
      @content;
    }
  }
}
