{% extends "base.html" %} {% block title %}FAQ{% endblock %} {% block body %}
<div class="container-faq">
  <!-- page header -->
  {% include "faq/includes/page-header.html" %}

  <div class="faq-content">
    <!-- div includes regular nav and mobile nav -->
    <div class="navigation">
      <!-- Mobile nav -->
      {% include "faq/includes/mobile-nav.html" %}
      <!-- regular nav -->
      {% include "faq/includes/regular-nav.html" %}
    </div>
    <!-- questions and answers -->
    {% include "faq/includes/questions_and_answers.html" %}
  </div>
</div>

{% endblock %}
