.btn {
  border: 2px solid $accent-color-2;
  background: $accent-color-2;
  color: $secondary-color;
}

.btn-block {
  width: 100%;
}

.button-send {
  background: darken($font-color-2, 5%);
  border: 1px solid darken($font-color-2, 15%);
  color: $font-color-3;
  font-weight: 500;

  &:hover {
    background-color: $font-color-2;
  }
}
