<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script
      src="https://kit.fontawesome.com/50d678538c.js"
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified CSS -->

    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/css/style.css' %}"
    />
  </head>

  <body>
    <nav>
      <a href="" class="toggle-nav">
        <span><i class="fas fa-bars"></i></span>
      </a>
      <!-- mobile nav -->
      <div class="navbar-mobile | bg-image">
        <!-- Mobile navbar title -->
        <div class="navbar-mobile__header">
          <h2 class="navbar-mobile__title">Green Clean Home</h2>
          <p class="navbar-mobile__subtitle">Eco-Friendly Cleaning</p>
        </div>
        <!-- Mobile navbar links -->
        <ul class="navbar-mobile__links | active">
          <!-- Home link -->
          <li class="navbar-mobile__link">
            <a href="{% url 'home:index' %}" class="navbar-mobile__link-tag">
              <span class="navbar-mobile__link-icon">
                <i class="fas fa-home"></i>
              </span>
              <span>Home</span>
            </a>
          </li>

          <!-- Contact Us link -->
          <li class="navbar-mobile__link">
            <a href="" class="navbar-mobile__link-tag">
              <span class="navbar-mobile__link-icon">
                <i class="fas fa-phone"></i>
              </span>
              <span>Contact Us</span>
            </a>
          </li>
          <!-- About Us link -->
          <li class="navbar-mobile__link">
            <a href="" class="navbar-mobile__link-tag">
              <span class="navbar-mobile__link-icon">
                <i class="fas fa-heart"></i>
              </span>
              <span>About Us</span>
            </a>
          </li>
          <!-- FAQ link -->
          <li class="navbar-mobile__link">
            <a href="{% url 'faq:index' %}" class="navbar-mobile__link-tag">
              <span class="navbar-mobile__link-icon">
                <i class="fas fa-question"></i>
              </span>
              <span>Frequently Asked Questions</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- End of mobile navbar -->

      <!-- Start of regular navbar -->
      <div class="navbar">
        <ul class="navbar__links">
          <!-- Home link -->
          <li class="navbar__link">
            <a
              href="{% url 'home:index' %}"
              class="navbar__link-tag | navbar-home | enabled"
              >Home</a
            >
          </li>
          <!-- About us link -->
          <li class="navbar__link">
            <a
              href="{% url 'home:index' %}#section-b"
              class="navbar__link-tag | disabled"
              >About Us</a
            >
          </li>
          <!-- Prices link -->
          <li class="navbar__link">
            <a
              href="{% url 'home:index' %}#section-d"
              class="navbar__link-tag | disabled"
              >Prices</a
            >
          </li>
          <!-- Contact Us link -->
          <li class="navbar__link">
            <a
              href="{% url 'home:index' %}#section-e"
              class="navbar__link-tag | disabled"
              >Contact Us</a
            >
          </li>

          <!-- FAQ link -->
          <li class="navbar__link">
            <a href="{% url 'faq:index' %}" class="navbar__link-tag | enabled"
              >FAQ</a
            >
          </li>
        </ul>
      </div>
    </nav>
    {% block body %} {% endblock %}
    <footer id="footer" class="section">
      <div class="content">
        <div class="footer__top">
          <!-- footer title -->
          <div class="footer-title">
            <h2 class="footer-title__title">Green Clean Home</h2>
            <p class="footer-title__subtitle">Eco-Friendly Cleaning</p>
            <p class="footer-title__line"></p>
          </div>
          <!-- footer links -->
          <ul class="footer__links">
            <li class="footer__links__link">
              <a href="" class="">Home</a>
            </li>
            <li class="footer__links__link">
              <a href="">Rates & Services</a>
            </li>
            <li class="footer__links__link">
              <a href="">Contact Us</a>
            </li>
            <li class="footer__links__link">
              <a href="">About Us</a>
            </li>
            <li class="footer__links__link">
              <a href="{% url 'faq:index' %}">FAQ</a>
            </li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p class="terms-conditions">
            2020 Green Clean Home. All rights reserved.
          </p>
          <p class="designed-by">
            Designed and developed by <span class="dev">prebenhesvik.com</span>
          </p>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{% static 'scripts/click-scroll.js' %}"></script>
    <!-- <script src="{% static 'scripts/form-validation.js' %}"></script> -->
    <script src="{% static 'scripts/submit-form.js' %}"></script>
    <!-- <script type="text/javascript" src="{% static 'scripts/tabs.js' %}"></script> -->
    <script
      type="text/javascript"
      src="{% static 'scripts/main.js' %}"
    ></script>
  </body>
</html>
