<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://kit.fontawesome.com/50d678538c.js" crossorigin="anonymous"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto:300,400,500"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'styles/css/style.css' %}" />
  </head>

  <body>
    <script type="text/javascript" src="{% static 'scripts/jquery-3.2.1.min.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{% static 'scripts/click-scroll.js' %}"></script>
    <!-- <script src="{% static 'scripts/form-validation.js' %}"></script> -->
    <script src="{% static 'scripts/submit-form.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/tabs.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/scripts.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main.js' %}"></script>
  </body>
</html>
