<nav id="regular-faq-nav" class="regular-faq-nav">
  <p>Table of contents</p>
  <ul class="menu">
    <li class="faq-category"><a href="#section_1">General</a></li>
    <li class="faq-category">
      <a href="#section_2">Cleaning Details</a>
    </li>
    <li class="faq-category"><a href="#section_3">Billing</a></li>
    <li class="faq-category">
      <a href="#section_4">200% Satisfaction Guarantee</a>
    </li>
    <li class="faq-category"><a href="#section_5">Scheduling</a></li>
    <li class="faq-category"><a href="#section_6">Cleaning Tips</a></li>
  </ul>
</nav>
