<div class="section__title">
  <h2 class="section__title-text">About Us</h2>
  <p class="section__title-line"></p>
</div>
<div class="content">
  <ul class="cards">
    <li class="card">
      <div class="card__icon-group">
        <span class="card__icon">
          <i class="fas fa-users"></i>
        </span>
      </div>
      <div class="card__text">
        <h3 class="card__heading">Three and four person teams</h3>
        <p class="card__paragraph">Licensed, insured and bonded for ease of mind.</p>
      </div>
    </li>
    <li class="card">
      <div class="card__icon-group">
        <span class="card__icon">
          <i class="fas fa-map-marker"></i>
        </span>
      </div>
      <div class="card__text">
        <h3 class="card__heading">We serve San Antonio area</h3>
        <p class="card__paragraph">
          We currently have 12 local offices.
        </p>
      </div>
    </li>
    <li class="card">
      <div class="card__icon-group">
        <span class="card__icon">
          <i class="fas fa-brush"></i>
        </span>
      </div>
      <div class="card__text">
        <h3 class="card__heading">Home and office cleaning services</h3>
        <p class="card__paragraph">
          Standard or customized options to choose from.
        </p>
      </div>
    </li>

    <li class="card">
      <div class="card__icon-group">
        <span class="card__icon">
          <i class="fas fa-credit-card"></i>
        </span>
      </div>
      <div class="card__text">
        <h3 class="card__heading">Ease of payment</h3>
        <p class="card__paragraph">
          Major credit cards, cash and bitcoin accepted.
        </p>
      </div>
    </li>
  </ul>
  <!-- Button -->
  <a href="">
    <button id="btn-about-us" type="button" class="btn">
      Read More
    </button>
  </a>
</div>
