<div class="section__title">
  <h2 class="section__title-text">Our mission</h2>
  <p class="section__title-line"></p>
</div>
<div class="content">
  <div class="text-box">
    <p class="text-box__text">
      At Green Home and Office, eco-friendly practices aren't just a fad, they are how we've done
      business from the start. We operate in an environmentally responsible way and use cleaning
      methods that are safe for our clients, safe for their families and safe for pets and the
      planet.
    </p>
    <p class="text-box__text">
      We help you take the pressure off and leave you to do more of the things you love. We'd be
      honored to have your business and do our parts together.
    </p>
  </div>
</div>
